html {
    min-height: fit-content;
    scroll-behavior: smooth;
    background-color: gray;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

* {
	outline: none;
    font-family: Roboto, sans-serif;
}

header {
    background-color:dodgerblue;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    background-color: gray;
    text-align: center;
    font-weight: bold;
    height: 5;
    color: white;
    padding: 3%;
}

.section {
	padding: 10%;
    padding-top: 5%;
}

.sectiontwo {
    color: white;
}

#contact {
	font-size: 1.2rem;
}

.fab {
    transition: all 0.4s;
	margin: 1rem 3rem 1rem 3rem;
    color: black;
}

.fas {
    transition: all 0.4s;
	margin: 1rem 3rem 1rem 3rem;
    color: black;
}

.fab:hover {
	transform: scale(1.4);
}

.fas:hover {
	transform: scale(1.4);
}

.fab:focus {
    transition: all 0.4s;
	margin: 1rem 3rem 1rem 3rem;
    color: black;
}

.fas:focus {
    transition: all 0.4s;
	margin: 1rem 3rem 1rem 3rem;
    color: black;
}

#front {
    background-color: lightblue;
}

#middle {
    background-color: lightgreen;
}

#last {
    background-color:lightcoral;
}

#type {
    animation: pulse 0.5s infinite alternate-reverse;
}

.pulsesize {
    position: relative;
    animation: positionmove 2s infinite alternate-reverse;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes positionmove {
    from {top: 0px;}
    to {top: 15px;}
  }

@keyframes pulsesizea {
    from {
        scale: 1;
    }
    to {
        scale: 1.25;
    }
}

p{
    text-align: left;
}

h2{
    text-align: left;
}