@tailwind base;
@tailwind components;
@tailwind utilities;

img {
	max-width: 100%;
	display: block;
}

.items {
	display: flex;
	justify-content: space-between;
}

html {
    font-family: 'Courier New', Courier, monospace !important
}

#main { 
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 95%;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%
}

@layer base {
  html {
    font-family: 'Courier New', Courier, monospace !important
  }
}